h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  background-image: url("~@/assets/images/paper.gif");
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.bottom {
  a {
    color: pink;
  }
}
